<!DOCTYPE html>
<html>
<head>
    <title>Doctor Welcome Page</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.3.js"
            integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/form-basic.css">
	<link rel="stylesheet" href="/assets/demo.css">      
	<link rel="stylesheet" href="css/responsiveslides.css">  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var genders = <%- JSON.stringify(genderJson) %>
        var monthlyPatients = <%- JSON.stringify(monthlyPatientsJson) %>
        var ages = <%- JSON.stringify(ageJson) %>
        var monthlyDiseases = <%- JSON.stringify(monthlyDiseaseJson) %>
    </script>
    <script src="/javascripts/charts/genderChart.js"></script>
    <script src="/javascripts/charts/monthlyPatientsChart.js"></script>
    <script src="/javascripts/charts/ageGroupChart.js"></script>
    <script src="/javascripts/charts/monthlyDiseaseCountChart.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css'/> -->
</head>
<body>
<div class="header">
				<div class="wrap">
				<!--start-logo-->
				<div class="logo">
					<a href="/"><img src="images/mainLogo140x140.png" title="logo" /></a>
				</div>
				<!--end-logo-->
				<!--start-top-nav-->
				<div class="top-nav">	
					<ul>
						<li class="active">
							<form action = "/doctorHome" method="GET">
							<button type="submit" class="btn btn-primary" id='afterDoctorSignIn' value="Home">Home</button>
							</form> 
						</li>
						<li>
							<form action = "/searchPage" method="GET">
							<button type="submit" class="btn btn-primary" id='search' value="Search Patient Records">Search Patient Records</button>
							</form> 
						</li>
						<li>
							<form action = "/orderTest" method="GET">
							<button type="submit" class="btn btn-primary" id='search' value="Search Patient Records">Order Test</button>
							</form> 
						</li>
						<!-- <li><a href="about.html">About</a></li>
						<li><a href="services.html">services</a></li> -->
						<li><form method="POST" action="/logout">
							<input type="submit" value="Logout" class="btn btn-primary" style="float: right;">
							</form>
						</li>
						<!-- <li align="right">
							
						</li> -->
					</ul>					
				</div>
				<div class="clear"> </div>
				<!--end-top-nav-->
			</div>
			<!--end-header-->
		</div>
		<div class="clear"> </div>
		

<div id="container">
    <h1 class="text-center"> Welcome Dr. <%- results[0].first_name %> <%- results[0].last_name %></h1>
    <h5 class="text-center"> Speciality: <%- results[0].speciality %></h5>
    <br><br><br><br>
    <div id="genderchart" style="width: 500px; height: 400px; margin: 0 auto"></div>
    <br><br><br><br>
    <div id="monthlypatientschart" style="width: 900px; height: 400px; margin: 0 auto"></div>
    <br><br><br><br>
    <div id="agegroupchart" style="width: 500px; height: 400px; margin: 0 auto"></div>
    <div id="monthlydiseasechart" style="width: 800px; height: 400px; margin: 0 auto"></div>
</div>

<div class="clear"> </div>
   			<div class="footer">
		   	 <div class="wrap">
		   
		   	<div class="footer-right">
		   		<p>MediCo | Design By MediCo</p>
		   	</div>
		   	<div class="clear"> </div>
		   </div>
		   </div>
</body>
</html>
